<app-modal
  titleLabel="Add new user"
  (confirm)="save()"
  [confirmButtonEnabled]="formGroup.valid"
  cancelText="Cancel"
  confirmText="Add">
  <form [formGroup]="formGroup" *ngIf="formGroup">
    <div class="d-flex flex-column">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
  </form>
</app-modal>
