@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

table {
  table-layout: fixed;

  tr {
    line-height: 2rem;

    td:hover {
      background-color: $gray-200;
    }

    th, td {
      width: 9%;

      &:last-child {
        width: 5%;
      }
    }
  }
}

