<div class="d-flex align-items-center justify-content-end mb-2">
  <button class="btn btn-outline-primary" (click)="openAddNewUserModal()">Add new</button>
</div>
<form [formGroup]="formGroup" *ngIf="userFormGroups.length">
<table class="table">
  <thead class="table-dark">
  <tr class="">
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Street name</th>
    <th scope="col">House number</th>
    <th scope="col">Apartment number</th>
    <th scope="col">Postal code</th>
    <th scope="col">Town</th>
    <th scope="col">Phone number</th>
    <th scope="col">Date of birth</th>
    <th scope="col">Age</th>
    <th scope="col" class="action-block"></th>
  </tr>
  </thead>
  <tbody>
    <tr app-editable-table-row
        [user]="user"
        (removeUser)="removeUser($event)"
        *ngFor="let user of userFormGroups">
    </tr>
  </tbody>
</table>

<div class="d-flex align-items-center justify-content-end mt-2">
  <button
    class="btn btn-success me-2"
    type="button"
    (click)="save()"
    [disabled]="!(usersService.isModified$ | async)">Save</button>
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="cancelChanges()"
    [disabled]="!(usersService.isModified$ | async)">Cancel</button>
</div>
</form>
<app-empty-data *ngIf="!userFormGroups.length"></app-empty-data>
