<div
  *ngIf="!isEdit || control.disabled"
  ngbTooltip="Press double click to edit"
  [disableTooltip]="control.disabled"
  class="d-flex p-2"
  [class.cursor-not-allowed]="control.disabled"
>
  <span *ngIf="value"
        class="cell-value"
        [class.disabled]="control.disabled">{{ value }}</span>
  <span *ngIf="!value" class="no-info">No info</span>
</div>
<app-form-input
  #input
  class="w-75 d-flex"
  (onBlur)="handleInputBlur()"
  [ignoreValidationErrors]="true"
  *ngIf="isEdit && control.enabled"
  [formControl]="control"
></app-form-input>
<small *ngIf="control?.invalid" class="form-text text-danger">This field is required</small>
