@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

:host:hover {
  background-color: $gray-100;

  &.active {
    background-color: transparent;
  }
}

.cell-value {
  word-break: break-all;
}
