<div ngbTooltip="Press double click to edit" class="d-flex h-100" *ngIf="!isEdit">
  <span *ngIf="value" [class.disabled]="">{{ value }}</span>
  <span *ngIf="!value" class="no-info">No info</span>
</div>
<input *ngIf="isEdit" type="text"
       class="form-control shadow-none"
       #input
       [formControl]="control"
       (blur)="isEdit = false"
       [class.is-invalid]="control?.invalid"
       placeholder="Enter {{ label }}">
<small *ngIf="control?.invalid" class="form-text text-danger">This field is required</small>
