@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

td {
  vertical-align: baseline;
}

.dropdown-toggler {
  border: none;
  background-color: inherit;

  &::after {
    display: none;
  }
}

.action-block {
  width: 2rem;
}

.mdi {
  font-size: 1.3rem;

  &.disabled {
    color: $gray-300 !important;
  }
}
